@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
#__root,
body,
html {
  width: 100%;
  min-height: 100vh;
  -webkit-tap-highlight-color: transparent;
}

/* html {
  touch-action: manipulation;
  scroll-behavior: smooth;
} */

h1 {
  @apply mb-5 text-4xl font-black text-gray-900 dark:text-white;
}

h2 {
  @apply mb-5 text-2xl font-bold text-gray-900 dark:text-white;
}

h3 {
  @apply mb-4 text-lg font-bold text-gray-900 dark:text-white;
}

span.lead {
  @apply block text-2xl font-normal leading-9 text-gray-700 mb-9 dark:text-gray-500;
}

p {
  @apply mb-5 font-normal leading-relaxed text-gray-700 dark:text-gray-400;
  max-width: 54ch;
}

p code,
div > code,
li > code {
  @apply font-mono text-sm font-semibold;
}
